div{
    color: aqua ;
    font-size: 40px
}
.left{
    color: red;
    font-size: 40px
}
#t1{
    color: red;
}
h1#h2{

}
.header>ul>li:nth-child(2){

}
.header>ul>li:hover(2){

}
ul::after{
    content: "hello"
}